*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body{
  font-weight: 300;
  line-height: 1.42em;
  color: #a7a1ae;
  background-color: #1f2739;
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: #fb667a;
}

::selection {
  color: #fff;
  background: #fb667a;
}